@{ 
    Layout = "_Layout";
}
<div class="row">
    <div class="col-7 offset-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Place Your Order</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="form-group">
                            <label>Select Menu</label>
                            <select id="ddlMenu" class="form-control">
                                <option value="-1">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <label>Enter quantity</label>
                            <input type="number" id="txtQuantity" class="form-control" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <button class="btn btn-success mt-4" id="btnAdd">Add Item</button>
                        </div>
                    </div>


                </div>
                
                <div class="row">
                    <div class="col-12" id="divOrder">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Order.js"></script>

