@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-7 offset-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Place Your Order</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group" id="formGroupName">
                            <label>Enter Name: <span class="mandatory">*</span></label>
                            <input type="text" id="txtName" class="form-control" />
                            <span id="errName"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" id="formGroupEmail">
                            <label>Enter Email: <span class="mandatory">*</span></label>
                            <input type="text" id="txtEmail" class="form-control" />
                            <span id="errEmail"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group" id="formGroupMobile">
                            <label>Enter Mobile: <span class="mandatory">*</span></label>
                            <input type="text" id="txtMobile" class="form-control" />
                            <span id="errMobile"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" id="formGroupGender">
                            <label>Enter Gender: <span class="mandatory">*</span></label>
                            <select id="ddlGender" class="form-control">
                                <option value="-1">Select</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Others</option>
                            </select>
                            <span id="errGender"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group" id="formGroupPassword">
                            <label>Enter Password: <span class="mandatory">*</span></label>
                            <input type="text" id="txtPassword" class="form-control" />
                            <span id="errPassword"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" id="formGroupConfirmPassword">
                            <label>Enter Confirm Password: <span class="mandatory">*</span></label>
                            <input type="password" id="txtConfirmPassword" class="form-control" />
                            <span id="errConfirmPassword"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group" id="formGroupPinCode">
                            <label>Enter Pin Code: <span class="mandatory">*</span></label>
                            <input type="text" id="txtPinCode" class="form-control" />
                            <span id="errPinCode"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" id="formGroupAddress">
                            <label>Enter Address: <span class="mandatory">*</span></label>
                            <textarea id="txtAddress" class="form-control"></textarea>
                            <span id="errAddress"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 offset-8">
                        <div class="form-group" id="formGroupSubmit">
                            <button class="btn btn-secondary" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/js/SignUp.js"></script>
